-- Create profiles table for user data
CREATE TABLE public.profiles (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID NOT NULL UNIQUE REFERENCES auth.users(id) ON DELETE CASCADE,
  full_name TEXT,
  email TEXT,
  avatar_url TEXT,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

-- Enable RLS on profiles
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

-- Profiles policies
CREATE POLICY "Users can view their own profile" ON public.profiles FOR SELECT USING (auth.uid() = user_id);
CREATE POLICY "Users can update their own profile" ON public.profiles FOR UPDATE USING (auth.uid() = user_id);
CREATE POLICY "Users can insert their own profile" ON public.profiles FOR INSERT WITH CHECK (auth.uid() = user_id);

-- Create trigger for profile creation on signup
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER SET search_path = public
AS $$
BEGIN
  INSERT INTO public.profiles (user_id, full_name, email)
  VALUES (new.id, new.raw_user_meta_data ->> 'full_name', new.email);
  RETURN new;
END;
$$;

CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();

-- Create pipeline_entries table
CREATE TABLE public.pipeline_entries (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
  account_name TEXT NOT NULL,
  opportunity_name TEXT NOT NULL,
  stage TEXT NOT NULL DEFAULT 'Leads',
  product_family TEXT,
  pilar TEXT NOT NULL,
  tower TEXT NOT NULL,
  se_name TEXT NOT NULL,
  am_name TEXT NOT NULL,
  close_month TEXT,
  contract_value NUMERIC DEFAULT 0,
  jan_plan NUMERIC DEFAULT 0,
  feb_plan NUMERIC DEFAULT 0,
  mar_plan NUMERIC DEFAULT 0,
  apr_plan NUMERIC DEFAULT 0,
  may_plan NUMERIC DEFAULT 0,
  jun_plan NUMERIC DEFAULT 0,
  jul_plan NUMERIC DEFAULT 0,
  aug_plan NUMERIC DEFAULT 0,
  sep_plan NUMERIC DEFAULT 0,
  oct_plan NUMERIC DEFAULT 0,
  nov_plan NUMERIC DEFAULT 0,
  dec_plan NUMERIC DEFAULT 0,
  po_release TEXT,
  po_month TEXT,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

-- Enable RLS on pipeline_entries
ALTER TABLE public.pipeline_entries ENABLE ROW LEVEL SECURITY;

-- Pipeline entries policies - all authenticated users can view
CREATE POLICY "Authenticated users can view all pipeline entries" ON public.pipeline_entries FOR SELECT TO authenticated USING (true);
CREATE POLICY "Authenticated users can insert pipeline entries" ON public.pipeline_entries FOR INSERT TO authenticated WITH CHECK (auth.uid() = user_id);
CREATE POLICY "Users can update their own entries" ON public.pipeline_entries FOR UPDATE TO authenticated USING (auth.uid() = user_id);
CREATE POLICY "Users can delete their own entries" ON public.pipeline_entries FOR DELETE TO authenticated USING (auth.uid() = user_id);

-- Enable realtime for pipeline_entries
ALTER PUBLICATION supabase_realtime ADD TABLE public.pipeline_entries;

-- Create updated_at trigger function
CREATE OR REPLACE FUNCTION public.update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = now();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SET search_path = public;

-- Create triggers for automatic timestamp updates
CREATE TRIGGER update_profiles_updated_at
  BEFORE UPDATE ON public.profiles
  FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

CREATE TRIGGER update_pipeline_entries_updated_at
  BEFORE UPDATE ON public.pipeline_entries
  FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();
-- Create user roles enum and table
CREATE TYPE public.app_role AS ENUM ('admin', 'user');

CREATE TABLE public.user_roles (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id uuid REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  role app_role NOT NULL DEFAULT 'user',
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  UNIQUE (user_id, role)
);

ALTER TABLE public.user_roles ENABLE ROW LEVEL SECURITY;

-- Security definer function to check roles
CREATE OR REPLACE FUNCTION public.has_role(_user_id uuid, _role app_role)
RETURNS boolean
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1
    FROM public.user_roles
    WHERE user_id = _user_id
      AND role = _role
  )
$$;

-- RLS policies for user_roles
CREATE POLICY "Users can view their own roles"
ON public.user_roles FOR SELECT
USING (auth.uid() = user_id);

CREATE POLICY "Admins can view all roles"
ON public.user_roles FOR SELECT
USING (public.has_role(auth.uid(), 'admin'));

CREATE POLICY "Admins can manage roles"
ON public.user_roles FOR ALL
USING (public.has_role(auth.uid(), 'admin'));

-- Add new columns to pipeline_entries
ALTER TABLE public.pipeline_entries
ADD COLUMN IF NOT EXISTS presales_lob text,
ADD COLUMN IF NOT EXISTS contract_period integer DEFAULT 12,
ADD COLUMN IF NOT EXISTS telkom_si text DEFAULT 'Telkom',
ADD COLUMN IF NOT EXISTS bespoke_project boolean DEFAULT false,
ADD COLUMN IF NOT EXISTS project_id text,
ADD COLUMN IF NOT EXISTS po_release_date date,
ADD COLUMN IF NOT EXISTS attachment_url text;

-- Update RLS policies for pipeline_entries to support admin access
DROP POLICY IF EXISTS "Authenticated users can view all pipeline entries" ON public.pipeline_entries;

CREATE POLICY "Users can view own entries or admins view all"
ON public.pipeline_entries FOR SELECT
USING (
  auth.uid() = user_id OR public.has_role(auth.uid(), 'admin')
);

-- Trigger to auto-assign user role on signup
CREATE OR REPLACE FUNCTION public.handle_new_user_role()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  INSERT INTO public.user_roles (user_id, role)
  VALUES (new.id, 'user');
  RETURN new;
END;
$$;

CREATE TRIGGER on_auth_user_created_role
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION public.handle_new_user_role();
-- Drop existing SELECT policy
DROP POLICY IF EXISTS "Users can view own entries or admins view all" ON public.pipeline_entries;

-- Create new SELECT policy: All authenticated users can view all entries
CREATE POLICY "All authenticated users can view all entries"
ON public.pipeline_entries
FOR SELECT
TO authenticated
USING (true);

-- Note: UPDATE and DELETE policies remain the same (users can only modify their own entries)
-- Add si_name column to pipeline_entries table
ALTER TABLE public.pipeline_entries 
ADD COLUMN si_name text;
-- Add LoB column to profiles table
ALTER TABLE public.profiles
ADD COLUMN lob text;

-- Add full_name column to user_roles table for display
ALTER TABLE public.user_roles
ADD COLUMN full_name text;

-- Update the trigger to also populate user_roles with full_name
CREATE OR REPLACE FUNCTION public.handle_new_user_role()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path TO 'public'
AS $function$
BEGIN
  INSERT INTO public.user_roles (user_id, role, full_name)
  VALUES (new.id, 'user', new.raw_user_meta_data ->> 'full_name');
  RETURN new;
END;
$function$;

-- Update handle_new_user to also include lob from metadata
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path TO 'public'
AS $function$
BEGIN
  INSERT INTO public.profiles (user_id, full_name, email, lob)
  VALUES (new.id, new.raw_user_meta_data ->> 'full_name', new.email, new.raw_user_meta_data ->> 'lob');
  RETURN new;
END;
$function$;
-- Create highlights table
CREATE TABLE public.highlights (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  title TEXT NOT NULL,
  category TEXT,
  related_account TEXT,
  related_opportunity TEXT,
  highlight_date DATE,
  description TEXT,
  status TEXT NOT NULL DEFAULT 'Open',
  created_by UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

-- Enable RLS
ALTER TABLE public.highlights ENABLE ROW LEVEL SECURITY;

-- All authenticated users can view all highlights
CREATE POLICY "Authenticated users can view all highlights"
ON public.highlights
FOR SELECT
TO authenticated
USING (true);

-- Authenticated users can insert their own highlights
CREATE POLICY "Authenticated users can insert highlights"
ON public.highlights
FOR INSERT
TO authenticated
WITH CHECK (auth.uid() = created_by);

-- Users can update their own highlights OR admins can update any
CREATE POLICY "Users can update own highlights or admins can update all"
ON public.highlights
FOR UPDATE
TO authenticated
USING (auth.uid() = created_by OR public.has_role(auth.uid(), 'admin'));

-- Only admins can delete highlights
CREATE POLICY "Only admins can delete highlights"
ON public.highlights
FOR DELETE
TO authenticated
USING (public.has_role(auth.uid(), 'admin'));

-- Create trigger for updated_at
CREATE TRIGGER update_highlights_updated_at
BEFORE UPDATE ON public.highlights
FOR EACH ROW
EXECUTE FUNCTION public.update_updated_at_column();
-- Add new columns to highlights table based on Excel structure
ALTER TABLE public.highlights 
ADD COLUMN IF NOT EXISTS se_name TEXT,
ADD COLUMN IF NOT EXISTS presales_lob TEXT,
ADD COLUMN IF NOT EXISTS support_needed TEXT,
ADD COLUMN IF NOT EXISTS dept_in_charge TEXT,
ADD COLUMN IF NOT EXISTS potential_rev NUMERIC DEFAULT 0,
ADD COLUMN IF NOT EXISTS pipeline_entry_id UUID REFERENCES public.pipeline_entries(id) ON DELETE SET NULL,
ADD COLUMN IF NOT EXISTS stage TEXT;
-- Create activity_plans table
CREATE TABLE public.activity_plans (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID NOT NULL,
  se_name TEXT NOT NULL,
  account_name TEXT,
  opportunity_name TEXT,
  activity_date DATE NOT NULL,
  am_name TEXT,
  agenda TEXT,
  solution_offer TEXT,
  contract_value NUMERIC DEFAULT 0,
  rev_plan_fy26 NUMERIC DEFAULT 0,
  est_close_month TEXT,
  output TEXT,
  next_action TEXT,
  pipeline_entry_id UUID REFERENCES public.pipeline_entries(id) ON DELETE SET NULL,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

-- Enable RLS
ALTER TABLE public.activity_plans ENABLE ROW LEVEL SECURITY;

-- Policies
CREATE POLICY "All authenticated users can view activity plans"
ON public.activity_plans FOR SELECT
USING (true);

CREATE POLICY "Users can insert their own activity plans"
ON public.activity_plans FOR INSERT
WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can update their own activity plans"
ON public.activity_plans FOR UPDATE
USING (auth.uid() = user_id);

CREATE POLICY "Users can delete their own activity plans or admins can delete all"
ON public.activity_plans FOR DELETE
USING (auth.uid() = user_id OR has_role(auth.uid(), 'admin'::app_role));

-- Trigger for updated_at
CREATE TRIGGER update_activity_plans_updated_at
BEFORE UPDATE ON public.activity_plans
FOR EACH ROW
EXECUTE FUNCTION public.update_updated_at_column();
-- Add attachment_url column to activity_plans table
ALTER TABLE public.activity_plans ADD COLUMN attachment_url text DEFAULT NULL;
-- Create storage bucket for activity attachments
INSERT INTO storage.buckets (id, name, public) VALUES ('activity-attachments', 'activity-attachments', true);

-- Create RLS policies for activity attachments bucket
CREATE POLICY "Anyone can view activity attachments"
ON storage.objects FOR SELECT
USING (bucket_id = 'activity-attachments');

CREATE POLICY "Authenticated users can upload activity attachments"
ON storage.objects FOR INSERT
WITH CHECK (bucket_id = 'activity-attachments' AND auth.role() = 'authenticated');

CREATE POLICY "Users can update their own activity attachments"
ON storage.objects FOR UPDATE
USING (bucket_id = 'activity-attachments' AND auth.uid()::text = (storage.foldername(name))[1]);

CREATE POLICY "Users can delete their own activity attachments"
ON storage.objects FOR DELETE
USING (bucket_id = 'activity-attachments' AND auth.uid()::text = (storage.foldername(name))[1]);
-- Drop existing restrictive SELECT policy
DROP POLICY IF EXISTS "Users can view their own profile" ON public.profiles;

-- Create new policy that allows all authenticated users to view all profiles
-- This is needed for LoB distribution chart to aggregate data across all users
CREATE POLICY "Authenticated users can view all profiles" 
ON public.profiles 
FOR SELECT 
TO authenticated
USING (true);

-- Keep the update policy - users can only update their own profile
-- (This policy already exists, just documenting it here)
-- Create a secure function to get LoB distribution for charts
-- This aggregates data without exposing individual user profiles
CREATE OR REPLACE FUNCTION public.get_lob_distribution()
RETURNS TABLE (
  lob_name text,
  total_value numeric,
  entry_count bigint
)
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT 
    COALESCE(p.lob, 'Unknown') as lob_name,
    COALESCE(SUM(pe.contract_value), 0) as total_value,
    COUNT(pe.id) as entry_count
  FROM pipeline_entries pe
  LEFT JOIN profiles p ON pe.user_id = p.user_id
  WHERE p.lob IS NOT NULL AND p.lob != ''
  GROUP BY p.lob
  HAVING SUM(pe.contract_value) > 0
  ORDER BY total_value DESC;
$$;

-- Drop the permissive SELECT policy that exposes all profiles
DROP POLICY IF EXISTS "Authenticated users can view all profiles" ON public.profiles;

-- Create a restrictive policy - users can only view their own profile
CREATE POLICY "Users can view their own profile" 
ON public.profiles 
FOR SELECT 
TO authenticated
USING (auth.uid() = user_id);
-- Drop the permissive SELECT policy that exposes all activity plans
DROP POLICY IF EXISTS "All authenticated users can view activity plans" ON public.activity_plans;

-- Create a restrictive policy - users can only view their own activity plans
-- Admins can also view all activity plans for management purposes
CREATE POLICY "Users can view their own activity plans or admins can view all" 
ON public.activity_plans 
FOR SELECT 
TO authenticated
USING (auth.uid() = user_id OR has_role(auth.uid(), 'admin'::app_role));

CREATE OR REPLACE FUNCTION public.get_lob_distribution()
 RETURNS TABLE(lob_name text, total_value numeric, entry_count bigint)
 LANGUAGE sql
 STABLE SECURITY DEFINER
 SET search_path TO 'public'
AS $function$
  SELECT 
    COALESCE(p.lob, 'Unknown') as lob_name,
    COALESCE(SUM(
      COALESCE(pe.jan_plan, 0) + COALESCE(pe.feb_plan, 0) + COALESCE(pe.mar_plan, 0) +
      COALESCE(pe.apr_plan, 0) + COALESCE(pe.may_plan, 0) + COALESCE(pe.jun_plan, 0) +
      COALESCE(pe.jul_plan, 0) + COALESCE(pe.aug_plan, 0) + COALESCE(pe.sep_plan, 0) +
      COALESCE(pe.oct_plan, 0) + COALESCE(pe.nov_plan, 0) + COALESCE(pe.dec_plan, 0)
    ), 0) as total_value,
    COUNT(pe.id) as entry_count
  FROM pipeline_entries pe
  LEFT JOIN profiles p ON pe.user_id = p.user_id
  WHERE p.lob IS NOT NULL AND p.lob != ''
  GROUP BY p.lob
  HAVING SUM(
    COALESCE(pe.jan_plan, 0) + COALESCE(pe.feb_plan, 0) + COALESCE(pe.mar_plan, 0) +
    COALESCE(pe.apr_plan, 0) + COALESCE(pe.may_plan, 0) + COALESCE(pe.jun_plan, 0) +
    COALESCE(pe.jul_plan, 0) + COALESCE(pe.aug_plan, 0) + COALESCE(pe.sep_plan, 0) +
    COALESCE(pe.oct_plan, 0) + COALESCE(pe.nov_plan, 0) + COALESCE(pe.dec_plan, 0)
  ) > 0
  ORDER BY total_value DESC;
$function$;
-- Add foreign key constraint with CASCADE for deletion
-- First, drop existing constraint if any
ALTER TABLE public.activity_plans 
DROP CONSTRAINT IF EXISTS activity_plans_pipeline_entry_id_fkey;

-- Add foreign key with ON DELETE SET NULL (when pipeline deleted, activity plan keeps existing but loses the link)
ALTER TABLE public.activity_plans 
ADD CONSTRAINT activity_plans_pipeline_entry_id_fkey 
FOREIGN KEY (pipeline_entry_id) 
REFERENCES public.pipeline_entries(id) 
ON DELETE SET NULL;

-- Create function to sync activity plan changes to pipeline
CREATE OR REPLACE FUNCTION public.sync_activity_to_pipeline()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  -- Only sync if activity plan is linked to a pipeline
  IF NEW.pipeline_entry_id IS NOT NULL THEN
    UPDATE public.pipeline_entries
    SET 
      account_name = NEW.account_name,
      opportunity_name = NEW.opportunity_name,
      am_name = NEW.am_name,
      contract_value = NEW.contract_value,
      close_month = NEW.est_close_month,
      updated_at = now()
    WHERE id = NEW.pipeline_entry_id
    AND user_id = NEW.user_id;  -- Only update if same user owns both
  END IF;
  
  RETURN NEW;
END;
$$;

-- Create function to sync pipeline changes to activity plans
CREATE OR REPLACE FUNCTION public.sync_pipeline_to_activities()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  -- Update all linked activity plans
  UPDATE public.activity_plans
  SET 
    account_name = NEW.account_name,
    opportunity_name = NEW.opportunity_name,
    am_name = NEW.am_name,
    contract_value = NEW.contract_value,
    est_close_month = NEW.close_month,
    updated_at = now()
  WHERE pipeline_entry_id = NEW.id;
  
  RETURN NEW;
END;
$$;

-- Create trigger for activity plan updates to sync to pipeline
DROP TRIGGER IF EXISTS sync_activity_to_pipeline_trigger ON public.activity_plans;
CREATE TRIGGER sync_activity_to_pipeline_trigger
AFTER UPDATE ON public.activity_plans
FOR EACH ROW
WHEN (OLD.pipeline_entry_id IS NOT NULL OR NEW.pipeline_entry_id IS NOT NULL)
EXECUTE FUNCTION public.sync_activity_to_pipeline();

-- Create trigger for pipeline updates to sync to activity plans
DROP TRIGGER IF EXISTS sync_pipeline_to_activities_trigger ON public.pipeline_entries;
CREATE TRIGGER sync_pipeline_to_activities_trigger
AFTER UPDATE ON public.pipeline_entries
FOR EACH ROW
EXECUTE FUNCTION public.sync_pipeline_to_activities();
-- Drop existing constraint and recreate with CASCADE DELETE
ALTER TABLE public.activity_plans 
DROP CONSTRAINT IF EXISTS activity_plans_pipeline_entry_id_fkey;

-- When pipeline is deleted, delete linked activity plans too
ALTER TABLE public.activity_plans 
ADD CONSTRAINT activity_plans_pipeline_entry_id_fkey 
FOREIGN KEY (pipeline_entry_id) 
REFERENCES public.pipeline_entries(id) 
ON DELETE CASCADE;

-- Update sync function to also handle deletes from activity plan side
-- When activity plan is deleted and it created the pipeline, delete pipeline too
CREATE OR REPLACE FUNCTION public.sync_activity_delete_to_pipeline()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  -- If activity plan had a linked pipeline, delete that pipeline too
  IF OLD.pipeline_entry_id IS NOT NULL THEN
    DELETE FROM public.pipeline_entries WHERE id = OLD.pipeline_entry_id;
  END IF;
  
  RETURN OLD;
END;
$$;

-- Create trigger for activity plan deletion
DROP TRIGGER IF EXISTS sync_activity_delete_trigger ON public.activity_plans;
CREATE TRIGGER sync_activity_delete_trigger
BEFORE DELETE ON public.activity_plans
FOR EACH ROW
WHEN (OLD.pipeline_entry_id IS NOT NULL)
EXECUTE FUNCTION public.sync_activity_delete_to_pipeline();
-- Recreate sync functions and triggers properly

-- Function: Sync activity plan changes to linked pipeline
CREATE OR REPLACE FUNCTION public.sync_activity_to_pipeline()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  -- Only sync if activity plan is linked to a pipeline
  IF NEW.pipeline_entry_id IS NOT NULL THEN
    UPDATE public.pipeline_entries
    SET 
      account_name = COALESCE(NEW.account_name, account_name),
      opportunity_name = COALESCE(NEW.opportunity_name, opportunity_name),
      am_name = COALESCE(NEW.am_name, am_name),
      contract_value = COALESCE(NEW.contract_value, contract_value),
      close_month = COALESCE(NEW.est_close_month, close_month),
      updated_at = now()
    WHERE id = NEW.pipeline_entry_id;
  END IF;
  
  RETURN NEW;
END;
$$;

-- Function: Sync pipeline changes to linked activity plans
CREATE OR REPLACE FUNCTION public.sync_pipeline_to_activities()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  -- Update all linked activity plans with new pipeline data
  UPDATE public.activity_plans
  SET 
    account_name = NEW.account_name,
    opportunity_name = NEW.opportunity_name,
    am_name = NEW.am_name,
    contract_value = NEW.contract_value,
    est_close_month = NEW.close_month,
    updated_at = now()
  WHERE pipeline_entry_id = NEW.id;
  
  RETURN NEW;
END;
$$;

-- Function: Delete pipeline when linked activity plan is deleted
CREATE OR REPLACE FUNCTION public.sync_activity_delete_to_pipeline()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  -- If activity plan had a linked pipeline, delete that pipeline too
  IF OLD.pipeline_entry_id IS NOT NULL THEN
    DELETE FROM public.pipeline_entries WHERE id = OLD.pipeline_entry_id;
  END IF;
  
  RETURN OLD;
END;
$$;

-- Drop existing triggers first
DROP TRIGGER IF EXISTS sync_activity_to_pipeline_trigger ON public.activity_plans;
DROP TRIGGER IF EXISTS sync_activity_delete_trigger ON public.activity_plans;
DROP TRIGGER IF EXISTS sync_pipeline_to_activities_trigger ON public.pipeline_entries;

-- Create trigger: When activity plan is updated, sync to pipeline
CREATE TRIGGER sync_activity_to_pipeline_trigger
AFTER UPDATE ON public.activity_plans
FOR EACH ROW
EXECUTE FUNCTION public.sync_activity_to_pipeline();

-- Create trigger: When activity plan is deleted, delete linked pipeline
CREATE TRIGGER sync_activity_delete_trigger
BEFORE DELETE ON public.activity_plans
FOR EACH ROW
EXECUTE FUNCTION public.sync_activity_delete_to_pipeline();

-- Create trigger: When pipeline is updated, sync to activity plans
CREATE TRIGGER sync_pipeline_to_activities_trigger
AFTER UPDATE ON public.pipeline_entries
FOR EACH ROW
EXECUTE FUNCTION public.sync_pipeline_to_activities();
-- Update sync_activity_to_pipeline to handle contract_value properly (not use COALESCE which keeps old value if new is NULL/0)
CREATE OR REPLACE FUNCTION public.sync_activity_to_pipeline()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  -- Only sync if activity plan is linked to a pipeline
  IF NEW.pipeline_entry_id IS NOT NULL THEN
    UPDATE public.pipeline_entries
    SET 
      account_name = NEW.account_name,
      opportunity_name = NEW.opportunity_name,
      am_name = NEW.am_name,
      contract_value = NEW.contract_value,
      close_month = NEW.est_close_month,
      updated_at = now()
    WHERE id = NEW.pipeline_entry_id;
  END IF;
  
  RETURN NEW;
END;
$$;

-- Also add INSERT trigger so when new activity plan is created with existing pipeline, it syncs
DROP TRIGGER IF EXISTS sync_activity_insert_to_pipeline_trigger ON public.activity_plans;

CREATE TRIGGER sync_activity_insert_to_pipeline_trigger
AFTER INSERT ON public.activity_plans
FOR EACH ROW
WHEN (NEW.pipeline_entry_id IS NOT NULL)
EXECUTE FUNCTION public.sync_activity_to_pipeline();
-- Fix 1: Restrict highlights visibility to owner + admins
DROP POLICY IF EXISTS "Authenticated users can view all highlights" ON public.highlights;

CREATE POLICY "Users view own highlights or admins view all"
ON public.highlights FOR SELECT
TO authenticated
USING (auth.uid() = created_by OR has_role(auth.uid(), 'admin'));

-- Fix 2: Make activity-attachments bucket private
UPDATE storage.buckets 
SET public = false 
WHERE id = 'activity-attachments';

-- Update storage policy to require authentication
DROP POLICY IF EXISTS "Anyone can view activity attachments" ON storage.objects;

CREATE POLICY "Authenticated users can view activity attachments"
ON storage.objects FOR SELECT
TO authenticated
USING (bucket_id = 'activity-attachments');

-- Fix 3: Update sync_activity_to_pipeline with ownership validation
CREATE OR REPLACE FUNCTION public.sync_activity_to_pipeline()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  IF NEW.pipeline_entry_id IS NOT NULL THEN
    -- Verify user owns both the activity plan and the target pipeline
    IF NOT EXISTS (
      SELECT 1 FROM pipeline_entries 
      WHERE id = NEW.pipeline_entry_id 
      AND user_id = NEW.user_id
    ) THEN
      RAISE EXCEPTION 'Cannot sync to pipeline owned by different user';
    END IF;
    
    UPDATE public.pipeline_entries
    SET 
      account_name = NEW.account_name,
      opportunity_name = NEW.opportunity_name,
      am_name = NEW.am_name,
      contract_value = NEW.contract_value,
      close_month = NEW.est_close_month,
      updated_at = now()
    WHERE id = NEW.pipeline_entry_id
    AND user_id = NEW.user_id;
  END IF;
  RETURN NEW;
END;
$$;

-- Fix 4: Update sync_pipeline_to_activities with ownership validation
CREATE OR REPLACE FUNCTION public.sync_pipeline_to_activities()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  -- Only update activity plans that belong to the same user who owns the pipeline
  UPDATE public.activity_plans
  SET 
    account_name = NEW.account_name,
    opportunity_name = NEW.opportunity_name,
    am_name = NEW.am_name,
    contract_value = NEW.contract_value,
    est_close_month = NEW.close_month,
    updated_at = now()
  WHERE pipeline_entry_id = NEW.id
  AND user_id = NEW.user_id;
  
  RETURN NEW;
END;
$$;

-- Fix 5: Update sync_activity_delete_to_pipeline with ownership validation
CREATE OR REPLACE FUNCTION public.sync_activity_delete_to_pipeline()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  -- If activity plan had a linked pipeline, delete that pipeline only if same owner
  IF OLD.pipeline_entry_id IS NOT NULL THEN
    DELETE FROM public.pipeline_entries 
    WHERE id = OLD.pipeline_entry_id
    AND user_id = OLD.user_id;
  END IF;
  
  RETURN OLD;
END;
$$;
